html, body {
    margin: 0;
    padding: 0;
    background-color: #292f33;
    color: #daf8e0;
    font-size: 14px;
    font-family: Nimbus Sans, Helvetica Neue, Arial;
    line-height: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #4a9a5a;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 3;
}

header .logo {
    height: 2rem;
}

.content {
    padding: calc(2rem + 20px) 20px 20px;
    position: relative;
}

.content .date {
    font-size: 10px;
}

@media screen and (max-width: 660px) {
    header a:not(.logo) {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }

    header .logo {
        height: calc(2rem + 10px);
    }

    .content {
        padding-top: calc(2rem + 40px);
    }

    nav .next, nav .previous {
        padding: 10px;
        border: 1px solid;
        border-radius: 4px;
        margin: 4px 0;
    }

    nav .next span.button, nav .previous span.button {
        display: none;
    }
}

header a:not(.logo) {
    color: #daf8e0;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;
}

header a:hover {
    color: #ffffff;
}

a {
    color: #4a9a5a;
}

a:hover {
    color: #61b773;
}

hr {
    outline: none;
    height: 1px;
    border: none;
    background-color: #4a9a5a;
}

ul {
    padding-left: 20px;
}

ul.entries {
    list-style-type: none;
}

ul.entries .title {
    display: flex;
    color: #4a9a5a;
    font-size: 1rem;
}

ul.entries .title a {
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    flex: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    flex: 1;
    padding-left: 0;
    justify-content: center;
}

svg.reverse {
    transform: rotate(180deg);
}

nav svg {
    fill: currentColor;
    height: 1em;
}

nav .next svg, nav .previous svg {
    padding-left: 4px;
}

nav .next, nav .previous {
    display: flex;
    line-height: 1.2rem;
    align-items: baseline;
    max-width: calc(100% - 20px);
}

nav .next span, nav .previous span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

nav ul li a, nav ul li span {
    padding: 10px 15px;
    display: inline-block;
}

nav ul li span {
    background-color: #4a9a5a;
    font-weight: bold;
}

nav ul li {
    border-top: 1px solid #4a9a5a;
    border-bottom: 1px solid #4a9a5a;
    line-height: 1.2rem;
}

nav ul li:first-child {
    border-left: 1px solid #4a9a5a;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

nav ul li:last-child {
    border-right: 1px solid #4a9a5a;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

img.icon {
    height: 16px;
    vertical-align: middle;
}

.bg {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0.1;
}

.title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
}
